<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Log your dives on a cloud</h1>
          <% unless logged_in? %>
            <%= link_to 'Log In', login_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
    <div>
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <b>Information</b>
        </div>
        <div class="panel-body">
          スキューバダイビングのダイブログを記録するサービスです。
          初めての利用時は、「<%= link_to 'Sign Up', signup_path %>」からユーザー登録をしてください。
        </div>
      </div>
    </div>

    <center>
    <div class="fb-share-button" data-href="https://divelogcloud.herokuapp.com/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdivelogcloud.herokuapp.com%2F&amp;src=sdkpreparse">シェア</a></div>
    </center>