<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Log your dives on a cloud</h1>
        <a href="" class="btn btn-success btn-lg">Log In </a>
      </div>
    </div>
  </div>
<% end %>

    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <b>Information</b>
        </div>
        <div class="panel-body">
          <p class="item-title">test</p>
          <p class="item-title">test</p>
          <p class="item-title">test</p>
          <p class="item-title">test</p>
        </div>
      </div>
    </div>  