<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Log your dives on a cloud</h1>
      </div>
    </div>
  </div>
<% end %>
      <div style="float:left" class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <br>
          <% unless logged_in? %>
              <%= render :template => "sessions/new" %>
          <% end %>
      </div>
      <div style="float:left" class="col-xs-12 col-sm-12 col-md-4 col-lg-6" align="center">
        <br>
          <% unless logged_in? %>
            <br>
            New user? Please sing up first.<br>
            <%= link_to 'Sign Up', signup_path, class: 'btn btn-success btn-lg' %>
            <br>
          <% end %>
      </div>


